body {
  background-image: url("https://img.freepik.com/free-vector/blue-pink-halftone-background_53876-99004.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  text-transform: capitalize;
}

.star-game-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* ============================================================================================== */
/* !====================================== Start game Btn ======================================= */
/* 👇==========================================================================================👇 */
#start-game-btn {
  border: none;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  background: #2c3639;
  transition: box-shadow 0.15s, background-color 0.15s, color 0.15s,
    border 0.15s;
}

#start-game-btn:hover {
  background-color: white;
  color: #2c3639;
  border: solid 1px #2c3639;
  box-shadow: -1px 2px 5px #2c3639;
  transition: box-shadow 0.15s, background-color 0.15s, color 0.15s,
    border 0.15s;
}

#start-game-btn:active {
  background-color: #2c3639;
  color: white;
  opacity: 0.9;
}

.container {
  background: white;
  max-width: 80%;
  margin: 0px auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px black;
}

/* ============================================================================================== */
/* !========================================== Divs ============================================= */
/* 👇==========================================================================================👇 */

.top-div1,
.top-div2,
.bottom-div1,
.bottom-div2 {
  background-color: rgba(255, 208, 80, 0.671);
  width: 100px;
  height: 100px;
  margin: 20px 10px;
  cursor: pointer;
  transition: padding 0.15s;
  box-shadow: 0px 9px #999;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: 1px solid white;
}

.top-div2 {
  background-color: #1cc9259f;
}

.bottom-div1 {
  background-color: rgba(161, 2, 175, 0.719);
}

.bottom-div2 {
  background-color: rgba(0, 128, 124, 0.685);
}

/* ============================================================================================== */
/* !========================================== Hover ============================================ */
/* 👇==========================================================================================👇 */
.top-div1:hover,
.top-div2:hover,
.bottom-div1:hover,
.bottom-div2:hover {
  transition: background-color 0.15s;
}

.top-div1:hover {
  background-color: rgb(255, 208, 79);
}
.top-div2:hover {
  background-color: #11f01ce4;
}

.bottom-div1:hover {
  background-color: rgb(161, 2, 175);
}
.bottom-div2:hover {
  background-color: rgb(0, 128, 124);
}

/* ============================================================================================== */
/* !====================================== Active =============================================== */
/* 👇==========================================================================================👇 */

/* #top-div1:active,
#top-div2:active,
#bottom-div1:active,
#bottom-div2:active {
  transform: translateY(4px);
} */

.circle:active,
.active {
  /* background-color: yellow; */
  filter: brightness(125%);
  transform: translateY(4px);
}

.top-div1:active {
  box-shadow: 0 5px #666, 0px 0px 50px coral;
}
.top-div2:active {
  box-shadow: 0 5px #666, 0px 0px 50px #1c87c9;
}

.bottom-div1:active {
  box-shadow: 0 5px #666, 0px 0px 50px red;
}
.bottom-div2:active {
  box-shadow: 0 5px #666, 0px 0px 50px purple;
}
